body {
  background-image: url('bg.jpg');
  position: center;
  margin-left: 360px;
  margin-right: 360px;
}

nav {
  text-align: center;
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

.span_lien {
  padding-left: 36px;
  padding-right: 36px;
}

#banner {
  position: center;
}

#main {
  text-align: center;
  border-radius: 25px;
  border-width: medium;
  background-color: #666;
}
